*{
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
:root{
    --primary:blueviolet;
    
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
h1{
    padding: 20px 20px 20px 50px;
    width: 250px;
}
body{
    background-color: rgb(249, 252, 255) ;
}
main{
    padding-top: 20px;
}
footer{
    text-align: center;
    padding: 50px 0 20px 0;
}
h2{
    padding: 50px 30px 20px 30px;
    text-decoration: underline 2px solid rgb(213, 149, 253);
}
ul{
    padding-left: 100px;
    list-style: none;
}
li:hover{
    cursor: pointer;
    color: rgb(196, 148, 242);
    font-weight: 600;
    transition: color 0.3 ease;
}
li:before{
    content: "⇒";
    margin-right: 4px;
}
h3{
    padding-left: 100px;
}
p{
    padding-left: 100px;
}
nav{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(172, 63, 240);
}
.navegador{
    display: flex;
    gap: 5vh;
    justify-content: center;
}
.headerFlex{
    display: flex;
}
.flexItem2{
    padding: 20px 50px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: rgba(137, 43, 226, 0.214);
    border-radius: 20px;
}
.gridItem5{
    grid-column: 1 / span 2;
}
